*{
    background-color: #080202;
    
}
img{
    border-radius: 50%;
    border: 5px solid whitesmoke;
}
td
{
    color: whitesmoke;
}
ol{
    color: whitesmoke;
}
li{
    color: #ECE5C7;
    font-size: x-large;
}
.suni
{
    text-align: center;
}
body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}